---

# CERTIFICATES
cn_root_ca: ilkilabs
c: FR
st: Ile-De-France
l: Paris
expiry: 87600h


# Components version
etcd_release: v3.4.3
kubernetes_release: v1.16.2
delete_previous_k8s_install: false

# IPs-CIDR Configurations
cluster_cidr: 10.33.0.0/16
service_cluster_ip_range: 10.32.0.0/24
kubernetes_service: 10.32.0.1
cluster_dns_ip: 10.32.0.10
service_node_port_range: 30000-32767

# Custom features
runtime: containerd
network_cni_plugin: flannel
ingress_controller: traefik
dns_server_soft: coredns
label_workers: true
populate_etc_hosts: yes
k8s_dashboard: true
update_certs: false
service_mesh: none
linkerd_release: stable-2.6.0
install_helm: false
init_helm: true

# Calico
calico_mtu: 1440

# Security
encrypt_key_etcd: 1fJcKt6vBxMt+AkBanoaxFF2O6ytHIkETNgQWv4b/+Q=

# Data Directory
data_path: "/var/agorakube"
