################################################################
###    ILKI KUBERNETES ENGINE Installation Information        ###
#################################################################


Thank you for using ILKI KUBERNETES ENGINE to deploy and manage your Kubernetes installation.

This file (agorakube-info.txt) is stored in root home directory for your reference.

#############################################################

##################
# Kubectl config #
##################
Kubectl config file is located at: /root/.kube/config

{% if agorakube_features.dashboard.enabled | bool == True %}
########################
# Kubernetes Dashboard #
########################
Kubernetes dashboard can be accessed by following the steps below:

1. Run follwoing command on deploy (ansible control) machine.
# kubectl proxy

2. Visit following URL on deploy machine.
http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/

{% if agorakube_features.dashboard.generate_admin_token | bool == True %}
3. The Admin token is stored in: /root/.kube/dashboardadmin
{% endif %}
{% endif %}
################################################################################

   Run following command to see this information again anytime.
   $ cat /root/agorakube-info.txt

###############################################################################

################################################################################

{% if agorakube_features.monitoring.enabled | bool == True %}
1.1. By default, run the follwoing command on your client machine. (Where your Browser is installed)
# kubectl port-forward service/grafana 3000:3000 -n monitoring

2.To log in to Grafana for the first time: open your web browser and go to 
# http://localhost:3000

3. To login, enter Default Grafana admin user and Default grafana admin password :

user: {{ agorakube_features.monitoring.admin.user }}
password: {{ agorakube_features.monitoring.admin.password }}

{% endif %}
##############################################################################
##############################################################################

{% if agorakube_features.argocd.enabled | bool == True %}
########################
# argocd Dashboard #
########################
argocd dashboard can be accessed by following the steps below:

1. Run follwoing command on deploy (ansible control) machine.
# kubectl port-forward

1. Run follwoing command on deploy (ansible control) machine.
3.You can simply retrieve this password using kubectl:
#kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d
Using the username admin and the password from above, login to Argo CD's IP or hostname:
#argocd login argo-server

Change the password using the command:
#argocd account update-password


Change the password using the command:
#argocd account update-password

4. to connect to the API server without exposing the service.
#kubectl port-forward svc/argocd-server -n argocd 8080:443
5.The API server can then be accessed using the 
# http://localhost:8080


{% endif %}

##############################################################################