

#################################################################
###            AgoreKube Installation Information             ###
#################################################################


Thank you for using AgoraKube to deploy and manage your Kubernetes installation.

This file (agorakube-info.txt) is stored in root home directory for your reference.

#############################################################

##################
# Kubectl config #
##################
Kubectl config file is located at: /root/.kube/config

{% if k8s_dashboard %}
########################
# Kubernetes Dashboard #
########################
Kubernetes dashboard can be accessed by following the steps below:

1. Run follwoing command on deploy (ansible control) machine.
# kubectl proxy

2. Visit following URL on deploy machine.
http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/

{% if k8s_dashboard_admin %}
3. The Admin token is stored in: /root/.kube/dashboardadmin
{% endif %}
{% endif %}
{% if 'linkerd' == service_mesh %}
########################
#       Linkerd        #
########################
Linkerd dashboard can be accessed by following the steps below:
1. Run follwoing command on your client machine to install Linkerd client (Warrning: Linkerd client is already installed on deploy machine).
# curl -sL https://run.linkerd.io/install | sh
2. Set up your environment variables.
# export PATH=$PATH:$HOME/.linkerd2/bin
3. Display linkerd version.
# linkerd version
4. Expose the Linkerd Dashboard locally.
# linkerd dashboard &
5. Visit following URL on your client machine.
http://localhost:50750
{% endif %}

{% if install_kubeapps and init_helm and install_helm  %}

#######################
#      KubeApps       #
#######################

Kubernetes dashboard can be accessed by following the steps below:

1. Run follwoing command on your client machine (kubectl have to be configured)
# kubectl port-forward service/kubeapps 8080:80 -n kubeapps

2. Visit following URL on deploy machine.
# http://127.0.0.1:8080/

3. The Admin token is stored in: /root/.kube/kubeappsadmin


{% endif %}

################################################################################

   Run following command to see this information again anytime.
   $ cat /root/agorakube-info.txt

################################################################################
