{
    "CN": "{{ item }}",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "hosts": [
        "{{ advertise_ip_masters }}",
        "{{kubernetes_service}}",
{% for host in groups['workers'] %}
        "{{ hostvars[host].ansible_host}}",
        "{{ host }}",
{% endfor %}
        "127.0.0.1"
    ],
    "names": [
        {
            "C": "{{ c }}",
            "ST": "{{ st }}",
            "L": "{{ l }}"
        }
    ],
    "ca": {
      "expiry": "{{ expiry }}"
        }
}
