{
    "CN": "kube-etcd",
    "hosts": [
        "localhost",
{% for host in groups['masters'] %}
        "{{ hostvars[host].ansible_host}}",
{% endfor %}
{% for host in groups['etcd'] %}
        "{{ hostvars[host].ansible_host}}",
{% endfor %}
        "127.0.0.1"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ c }}",
            "ST": "{{ st }}",
            "L": "{{ l }}"
        }
    ]
}
