{
 "signing": {
 "default": {
 "usages": ["digital signature","cert sign","crl sign","signing","key encipherment", "server auth", "client auth"],
 "expiry": "{{ expiry }}",
 "ca_constraint": {"is_ca": true, "max_path_len":0, "max_path_len_zero": true}
 }
 }
}
