---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: keycloak
  namespace: keycloak
spec:
  tls:
  - hosts:
      - {{ agorakube_features.keycloak_oidc.auto_bootstrap.host }}
    secretName: keycloak-tls
  rules:
  - host: {{ agorakube_features.keycloak_oidc.auto_bootstrap.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: keycloak
            port:
              number: 8080
