---
apiVersion: v1
data:
  containers: |
    /var/log/pods/*/*/*.log {
            missingok
            notifempty
            daily
            rotate {{ agorakube_features.logrotate.day_retention }}
            compress
            copytruncate
    }
  kubernetes: |
    /var/log/kubernetes/*.log {
            missingok
            notifempty
            daily
            rotate {{ agorakube_features.logrotate.day_retention }}
            compress
            copytruncate
    }
kind: ConfigMap
metadata:
  namespace: kube-system
  name: logrotate-configs
---
apiVersion: v1
data:
  root: |
    # do daily/weekly/monthly maintenance
    # min   hour    day     month   weekday command
    {{ agorakube_features.logrotate.crontab }} logrotate -vf /etc/logrotate.conf
kind: ConfigMap
metadata:
  namespace: kube-system
  name: logrotate-crontab
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    configmap.reloader.stakater.com/reload: "logrotate-crontab,logrotate-configs"
  labels:
    app: logrotate
  name: logrotate
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: logrotate
  template:
    metadata:
      labels:
        app: logrotate
    spec:
      tolerations:
       - effect: NoSchedule
         operator: Exists
      containers:
      - image: agorakube/crond:alpine-3
        name: crond
        volumeMounts:
        - name: varlog
          mountPath: /var/log/
        - name: logrotate-crontab
          mountPath: /etc/crontabs/
        - name: logrotate-configs
          mountPath: /etc/logrotate.d/
      volumes:
      - name: logrotate-configs
        configMap:
          name: logrotate-configs
      - name: logrotate-crontab
        configMap:
          name: logrotate-crontab
      - name: varlog
        hostPath:
          path: /var/log/
