---
- name: Download etcd binaries
  unarchive:
    src: https://github.com/etcd-io/etcd/releases/download/{{ etcd_release }}/etcd-{{ etcd_release }}-linux-amd64.tar.gz
    dest: /usr/bin
    remote_src: yes
    creates: /usr/bin/etcd-{{ etcd_release }}-linux-amd64/etcd

- name: create folder {{ etcd_data_directory }}
  file:
    path: "{{ etcd_data_directory }}"
    state: directory

- name: Import etcd.service
  template:
    src: etcd.service.j2
    dest: /etc/systemd/system/etcd.service
  notify:
    - Reload daemons
    - Restart etcd

- name: Run etcd
  systemd:
    state: started
    daemon_reload: yes
    name: etcd
    enabled: yes
