apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
    - secrets
    providers:
    - aescbc:
        keys:
{% for key, value in encrypt_etcd_keys.items() %}
        - name: {{ key }}
          secret: {{ value.secret }}
{% endfor %}
    - identity: {}
