[Unit]
Description=Kubernetes Controller Manager {{ kubernetes_release }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kubernetes/server/bin/kube-controller-manager \
  --bind-address=127.0.0.1 \
  --cluster-cidr={{ cluster_cidr }} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt \
  --cluster-signing-key-file=/etc/kubernetes/pki/ca.key \
  --kubeconfig=/etc/kubernetes/manifests/controller-manager.conf \
  --leader-elect=true \
  --profiling=false \
  --root-ca-file=/etc/kubernetes/pki/ca.crt \
  --client-ca-file=/etc/kubernetes/pki/ca.crt \
  --service-account-private-key-file=/etc/kubernetes/pki/sa/sa.key \
  --service-cluster-ip-range={{ service_cluster_ip_range }} \
  --terminated-pod-gc-threshold=500 \
  --requestheader-client-ca-file=/etc/kubernetes/pki/front-proxy-ca.crt \
  --use-service-account-credentials=true \
  --allocate-node-cidrs=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
