[Unit]
Description=etcd
Documentation=https://github.com/coreos
{% set etcd_initial_cluster = [] %}
{% for host in groups['etcd']  %}
{{ etcd_initial_cluster.append( host+"=https://"+hostvars[host].ansible_host+":2380" ) }}
{% endfor %}
[Service]
ExecStart=/usr/bin/etcd-{{etcd_release}}-linux-amd64/etcd \
  --name {{ ansible_fqdn }} \
  --cert-file=/etc/kubernetes/pki/etcd/server.crt \
  --key-file=/etc/kubernetes/pki/etcd/server.key \
  --peer-cert-file=/etc/kubernetes/pki/etcd/peer.crt \
  --peer-key-file=/etc/kubernetes/pki/etcd/peer.key \
  --trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt \
  --peer-trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ hostvars[ansible_fqdn].ansible_host}}:2380 \
  --listen-peer-urls https://{{ hostvars[ansible_fqdn].ansible_host}}:2380 \
  --listen-client-urls https://{{ hostvars[ansible_fqdn].ansible_host}}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ hostvars[ansible_fqdn].ansible_host}}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ etcd_initial_cluster|join(',') }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
