[Unit]
Description=Kubernetes Kube Proxy {{ agorakube_base_components.kubernetes.release }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
{% if ansible_fqdn in groups['masters'] %}
ExecStart=/usr/local/bin/kubernetes/server/bin/kube-proxy \
{% else %}
ExecStart=/usr/local/bin/kubernetes/node/bin/kube-proxy \
{% endif %}
{% if agorakube_network.kube_proxy.mode in ['userspace','iptables','ipvs'] %}
  --proxy-mode={{ agorakube_network.kube_proxy.mode }} \
{% endif %}
{% if agorakube_network.kube_proxy.mode == 'ipvs' %}
{% if agorakube_network.kube_proxy.algorithm in ['rr','lc','dh','sh','sed','nq'] %}
  --ipvs-scheduler={{ agorakube_network.kube_proxy.algorithm }} \
{% endif %}
{% endif %}
  --hostname-override={{ ansible_fqdn }} \
  --log-file=/var/log/kubernetes/kube-proxy.log \
  --log-file-max-size=1800 \
  --logtostderr=false \
  --config=/etc/kubernetes/manifests/kube-proxy-config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
